
@using CRM11.UI.Extension
@{
    ViewBag.Title = "Index";
}
@section headSection{
    <style type="text/css">
    </style>
    <script src="~/Scripts/jquery.globalHelper.js"></script>
    <script type="text/javascript">
        $(function () {
            $.globalHelper.datagridPara.init("/admin/Role/Index", [@Html.GetSonBtnJs()],
                [[
                { field: 'roleName', title: '角色名称', width: 100 },
                {
                    field: 'Department', title: '所属部门', width: 100, formatter: function (colData) {
                        return colData.depName;
                    }
                },
                {
                    field: 'roleAddTime', title: '创建时间', width: 100, formatter: function (colData) {
                        return $.globalHelper.changeDateFormatter(colData);
                    }
                }

            ]]);

            $('#tbList').datagrid($.globalHelper.datagridPara.paras);


        })

        @if (Html.IsBtnJsMethodExist("add")) {
            <text>
            function add()
            {
                $.globalHelper.showCommonWindow("添加权限", "/admin/permission/add", 450, 560)
            }
            </text>
        }

        @if (Html.IsBtnJsMethodExist("viewSons")) {
            <text>
            function viewSons()
            {
                ifSelectedRowData(function (selectedRowData) {
                    $.globalHelper.showCommonWindow("查看【" + selectedRowData.perName + "】子权限列表", "/admin/permission/SonIndex/" + selectedRowData.perId);
                });
            }
            </text>
        }

        @if (Html.IsBtnJsMethodExist("remove")) {
            <text>
            function remove()
            {
                ifSelectedRowData(function (selectedRowData) {
                    $.messager.confirm("系统消息", "是否确定要删除【" + selectedRowData.perName+"】权限", function (isOk) {
                        if (isOk) {
                            $.post("/admin/Permission/Remove", { deleteId: selectedRowData.perId}, function (xhrObj) {
                                $.msgProcess(xhrObj);
                                $.globalHelper.reloadSelectedTapDataGrid();
                            })
                        }
                    })
                });


            }
            </text>
        }

       @if (Html.IsBtnJsMethodExist("modify")) {
           <text>
            function modify() {
                ifSelectedRowData(function (selectedRowData) {
                    $.globalHelper.showCommonWindow("修改【" + selectedRowData.perName + "】权限", "/admin/permission/modify/" + selectedRowData.perId, 450, 560);
                });
              }
           </text>
        }

        @if (Html.IsBtnJsMethodExist("setRolePer"))
        {
            <text>
        function setRolePer()//设置子权限
        {
            ifSelectedRowData(function (selectedRowData) {
                $.globalHelper.showCommonWindow("设置【" + selectedRowData.roleName + "】权限", "/Admin/Role/SetRolePer/" + selectedRowData.roleId, 350, 580);
            });
        }
        </text>
        }

            function ifSelectedRowData(func) {
                var selectedRowData = $('#tbList').datagrid("getSelected");
                if (selectedRowData) {
                    if (func && func instanceof Function) {
                        func(selectedRowData);
                    }
                } else
                {
                    $.msgBoxObj.showInfo("请选择要进行操作的行");
                }
            }
    </script>
}
<table id="tbList"></table>
